{% extends "base.html" %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <br>
        <center>
            <div>Nombre: <br> {{form.nombre}}</div>
            <div>Fecha de fundación:  <br> {{form.fechaFundacion}}</div>
            <div>Tipo de Gobierno:  <br> {{form.tipoDeGobierno}}</div>
            <div>Población: <br> {{form.poblacion}}</div>
            <div>Continente del País: <br> {{form.continente}}</div>
            <div>PIB:  <br> {{form.PIB}}</div>
            <div>Nombre de moneda: <br>{{form.moneda}}</div>
            <br>
            <button type="submit" class="bg-emerald-600 text-emerald-100 px-4 py-1 rounded-md hover:text-emerald-950 hover:bg-emerald-400">Create</button>
        </center>
    </form>
{% endblock content %}
