{% extends "base.html" %}
{% block content %}
    
    <form method="POST">
        <center>
            {% csrf_token %}
            <div>Nombre</div>
            {{form.nombre}}
            <div>Fecha de fundación</div>
            {{form.fechaFundacion}}
            <div>Tipo de Gobierno</div>
            {{form.tipoDeGobierno}}
            <div>Población</div>
            {{form.poblacion}}
            <div>Continente del País</div>
            {{form.continente}}
            <div>PIB</div>
            {{form.PIB}}
            <div>Nombre de moneda</div>
            {{form.moneda}}
            <br>
            <button type="update"class=" mt-4 bg-emerald-600 text-emerald-100 px-4 py-1 rounded-md hover:text-emerald-950 hover:bg-emerald-400">Update</button>
        </center>
    </form>
{% endblock content %}
